SPRING_PROFILES_ACTIVE=dev

BASE_URL=http://localhost:7000/
SERVER_PORT=

DATABASE_URL=
DATABASE_USERNAME=
DATABASE_PASSWORD=

REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

JWT_SECRET=
JWT_EXPIRATION=
JWT_REFRESH_EXPIRATION=

# Docker environment variables
POSTGRES_USER=
POSTGRES_PASSWORD=